
<p>
  <strong>Usuario:</strong>
  <%= "#{@article.user.name} #{@article.user.last_name}" %>
</p>
 
<p>
  <strong>Comentario:</strong>
  <%= comment.body %>
</p>

<p>
  <strong></strong>
  <%= l comment.created_at, format: :euro %>
</p>
 
<p>
 <% if signed_in? && current_user == comment.user %> 
  <%= link_to 'Eliminar', [comment.article, comment],
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
 <% end %>               
</p>

